@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav {
    background: linear-gradient(to right, #009345, #009345, #87C139);
    width: 100%;
    height: 80px;
    padding: 1rem 100px;
    display: flex;
    align-items: center;
    position: static;
    z-index: 1000;
}

nav img {
    height: 60px;
}

nav .menu-icon {
    display: none;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

nav .nav-links li {
    list-style: none;
    position: relative;
    margin-left: 2rem;
}

nav .nav-links li a {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

nav .nav-links li a:hover {
    color: #38E54D;
}

.container {
    padding: 0 100px;
}

.kegiatan {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.kegiatan h1 {
    font-size: 36px;
    color: #009345;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 30px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
}

footer h5 {
    padding: 2rem 5rem;
    text-align: center;
    color: black;
}

/* Button styles */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

.btn button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn a {
    color: inherit;
    text-decoration: none;
}

.btn-green {
    background-color: #009345;
    color: white;
    border: none;
}

.btn-white {
    background-color: white;
    color: #009345;
    border: 1px solid #009345;
}

.btn button:hover {
    transform: translateY(-2px);
}

.btn-green:hover {
    background-color: #007a2d;
}

.btn-white:hover {
    background-color: #f0f0f0;
}

/* Table styles */
.inovasi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    border: 1px solid #ddd;
}

.inovasi-table th,
.inovasi-table td {
    padding: 12px 15px;
    border: 1px solid #D9D9D9;
}

.inovasi-table thead {
    background-color: #009345;
    color: white;
}

.inovasi-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.inovasi-table tbody tr:hover {
    background-color: #f1f1f1;
}

.inovasi-table a {
    text-decoration: none;
    color: black;
}